.prepend-1.span-6.append-1
  .base
    .lightest
      %br
    .lighter
      %br
    .light
      %br
    .normal
      %br
    .dark
      %br
    .darker
      %br
    .darkest
      %br
.span-6
  .complement
    .lightest
      %br
    .lighter
      %br
    .light
      %br
    .normal
      %br
    .dark
      %br
    .darker
      %br
    .darkest
      %br
